@import "tailwindcss";

@reference utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }

  p {
    @apply text-sm text-amber-50;
  }
}

@layer components {
  .icon {
    @apply text-blue-400 text-xl;
  }

  .btn {
    @apply hover:no-underline
      bg-blue-500
      tracking-wider
      w-full
      text-center
      font-bold
      cursor-pointer
      uppercase
      px-4
      py-2
      rounded-md
      hover:bg-blue-500
      transition-colors
      block;
  }
}
