@import "tailwindcss";

@reference utilities;

@layer components {
  .icon {
    @apply text-blue-400 text-xl;
  }

  .btn {
    @apply hover:no-underline
      bg-blue-500
      tracking-wider
      w-full
      text-center
      font-bold
      cursor-pointer
      uppercase
      px-4
      py-2
      rounded-md
      hover:bg-blue-500
      transition-colors
      block;
  }
}
